:root{
    --primary-marine-blue:hsl(213,96%,18%);
    --primary-purplish-blue:hsl(243,100%,62%);
    --primary-pastel-blue:hsl(228,100%,84%);
    --primary-light-blue:hsl(206,94%,87%);
    --primary-strawberry-red:hsl(354,84%,57%);
    --neutral-cool-grey:hsl(31,11%,63%);
    --neutral-light-grey:hsl(229,24%,87%);
    --neutral-mangolia:hsl(217,100%,97%);
    --neutral-alabaster:hsl(231,100%,99%);
    --neutral-white:hsl(0,0%,100%);
    --p-size:16px;
    --font-family:"ubuntu sans-serif"
}




/* main styles */

body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-mangolia);
    
}
form{
    width: 54%;
    height: 68%;
    background-color:var(--neutral-white);
    font-family: var(--font-family);
    position: relative;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around
}
.right{
    width: 50%;
}
.image-container{
    position: absolute;
    top:2% ;
    left: 1%;
}
.steps-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
.step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    
}
.step-count{
    border: 1px solid var(--neutral-white);
    padding: 10px 20px;
    text-align: center;
    border-radius: 50%;
    width: 5%;
    color: var(--neutral-white);
    font-weight: bold;
}
.step-number{
    color: var(--neutral-cool-grey);
    margin: 0px;
}
.step-name{
    color: var(--neutral-white);
    margin:4px 0px 0px 0px;
    font-weight: 700;
    font-size: 16px;
}
.step-info{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* active step */
.active{
    background-color: var(--neutral-white);
    color: black;
}
/* step position */
.step1-position{
    position: absolute;
    top: 6%;
    left: 4%;
}
.step2-position{
    position: absolute;
    top: 18%;
    left: 4%;
}
.step3-position{
    position: absolute;
    top: 30%;
    left: 4%;
}
.step4-position{
    position: absolute;
    top: 42%;
    left: 4%;
}
/*styling for your info step  */
.your-info h1{
    font-size: 2.5rem;
    margin: 10% 0px 0px 0px;
}
.your-info p{
    color: var(--neutral-cool-grey);
    margin: 4% 0px 10% 0;
}
.input-style{
    display: flex;
    flex-direction: column;
}
.input-style label{
    margin-bottom: 8px;
    font-weight: 400;
}
.textbox-style{
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--neutral-cool-grey);
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 700;  
}
/* styling for email */
.email,.phone-number{
    margin-top: 20px;
}
/* styling the next button */
.button{
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.button button{
    padding: 14px 15px;
    background-color: var(--primary-marine-blue);
    color: var(--neutral-white);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
/* hide the section */
.hide{
    display: none;
}
/* styling of section select plan */
.select-plan h1{
    font-size: 2.5rem;
    margin: 10% 0px 0px 0px;
}
.select-plan p{
    color: var(--neutral-cool-grey);
    margin: 4% 0px 10% 0;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    border: 1px solid var(--neutral-cool-grey);
    padding-left: 5%;
    padding-top: 4%;
    border-radius: 10px;
    transition: all 0.2s;
    box-sizing: border-box;
    width: 30%;
}
.card-info{
    margin-top: 40px;
}
.card-info h3{
    margin: 12px 0px 0px 0px;
}
.card-info p{
    margin: 6px 0px 10px 0px;
}
.free-duration{
    margin: 0;
}
/* styling the toggle section */
.toggle-section{
    display: flex;
    width: 100%;
    background-color:var(--neutral-mangolia) ;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 10px;
    margin-top: 8%;
}
.radio-btn{
    border: 1px solid var(--primary-marine-blue);
    border-radius: 12px;
    background-color: var(--primary-marine-blue);
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 6px;
}
.back-btn{
    position: absolute;
    bottom: 12%;
    left: 35%;
}
.back-btn button{
    border: none;
    background-color: var(--neutral-white);
    color: var(--neutral-cool-grey);
    font-size: 1rem;
    font-weight: bold;
}
.option{
    opacity: 0;
}
.toggle-section{
    position: relative;
}
.slider::before{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: var(--neutral-white);
    position: absolute;
    top: 32%;
    bottom: 0;
    left: 46%; 
    border-radius: 50%;
    transition: transform 0.3s;
}
#year:checked ~ .slider::before{
    transform: translateX(2rem);
}
#month:checked ~ .slider::before{
    transform: translateX(0rem);
}
/* styling section add-ons */
.add-on h1{
    font-size: 2.5rem;
    margin: 10% 0px 0px 0px;
}
.add-on p{
    color: var(--neutral-cool-grey);
}
.addon-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    border: 1px solid var(--primary-light-blue);
    padding: 1rem 1rem;
    border-radius: 20px;
    width: 100%;
}
.addon-type{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.type2{
    margin-right: 32px;
}

.addon-type h3,p{
    margin: 0px;
}
.addon-type p{
    margin-top: 4px;
}
.cost p{
    color: var(--primary-purplish-blue);
}
.addon-description input[type="checkbox"]{
    transform: scale(1.3);
}
/* styling finishing up section */
.finishing-up h1{
    font-size: 2.5rem;
    margin: 10% 0px 0px 0px;
}
.finishing-up p{
    color: var(--neutral-cool-grey);
    margin-top: 10px;
}
.summary-container{
    width:110%;
    height: 26vh;
    background-color: var(--neutral-mangolia);
    margin-top: 10%;
    border-radius: 20px;
    position: relative;
}
.selected-plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 18px;
}
 .plan .plan-name{
color:black;
font-weight: bold;
font-size: 1.3rem;
margin-bottom: 5px;
}
.plan .change{
color: var(--neutral-cool-grey);
}
.break{
    width: 90%;
    height: 0.5px;
   background-color: var(--neutral-cool-grey);
   position: absolute;
   top: 35%;
   left: 5%;
}
.service-type{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    padding: 10px 18px;
    font-size: 1.2rem;
}
.storage-type{
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    font-size: 1.2rem;
}
.total-month{
    display: flex;
    justify-content: space-between;
    width: 102%;
    margin-left: 20px;
}
.total-month .totalM-cost{
    color: var(--primary-purplish-blue);
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 20px;
}
.button .btn-confirm{
    background-color: var(--primary-purplish-blue);
}
/* sucess section */
.sucess{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58vh;
}
.sucess h1{
    font-size: 2rem;
    margin: 20px 0px;
}
.sucess p{
    color: var(--neutral-cool-grey);
    font-size: 1.2rem;
    width: 115%;
    line-height: 1.5;
    margin-left:10%;
}
/* hover effects on elements */
.textbox-style:hover{
    cursor: pointer ;
    border-color: var(--primary-purplish-blue);
}
.card:hover{
    cursor: pointer;
    border-color: var(--primary-purplish-blue);
    transform: scale(1.1);
}
.addon-description:hover{
    cursor: pointer;
    border-color:var(--primary-purplish-blue);
}
.change:hover{
    cursor: pointer;
    color: var(--primary-purplish-blue);
}
/* active states */
.active-card{
    border-color: var(--primary-purplish-blue);
    background-color: var(--neutral-light-grey);
}
.active-addon{
    border-color: var(--primary-purplish-blue);
    background-color: var(--neutral-alabaster);
}
.message{
    position: relative;
    width: 100%;
    left: 68%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--primary-strawberry-red);
    font-weight: 600;
}